.搜尋面板_容器 {
    .搜尋面板_標題 {
        font-size: 32px;
    }
    .搜尋面板_內容容器 {
        .搜尋面板_輸入框組 {
            .搜尋面板_輸入框標題 {
                font-size: 16px;
            }
            .搜尋面板_輸入框 {
                width: 60px;
            }
        }
        .搜尋面板_搜尋按鈕組 {
            .搜尋面板_搜尋按鈕 {
                .圖片 {
                    width: 20px;
                    height: 20px;
                    cursor: pointer;
                }
            }
        }
    }
}

//

.搜尋面板_容器 {
    .搜尋面板_標題 {
        font-size: 32px;
    }
}

.輸入框組 {
    .輸入框標題 {
        font-size: 16px;
    }
    .輸入框 {
        width: 60px;
    }
}
.搜尋按鈕組 {
    .搜尋按鈕 {
        .圖片 {
            width: 20px;
            height: 20px;
            cursor: pointer;
        }
    }
}
